{% extends "base.html" %}
{% load static %}
{% block content %}
{% block meta %}
<title>Ulasan</title>
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock meta %}
<style>
    body {
        background: linear-gradient(to bottom, #2F338A, #010845);
        color: white;
    }
</style>
    <div class="center-content inline-search">
        <form>
            <p>Input Ulasan : <input type: "text"/></p>
            <label for="rating">Rating:</label>
            <input type="range" id="rating" name="rating" min="1" max="5">
            <input type="submit" value="Submit">
        </form>
    </div>
    <div>
        <h4>Daftar Ulasan</h4>
        <ul>
            {% for ulasan in daftar_ulasan %}
            <li>{{ ulasan }}</li>
            {% endfor %}
        </ul>
    </div>
</body>

{% endblock content %}