{% extends "base.html" %}
{% load static %}
{% block content %}
{% block meta %}
<title>Detail Film</title>
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock meta %}
<body>
    <h1 class="center-content">Halaman Series</h1>
    <div>
        <p>
            <strong>Judul Film:</strong> {{ title }}<br>
        </p>
    </div>
    <div>
        <h4>Episode</h4>
        <ul>
            {% for episodes in episode %}
            <li>{{ episodes }}</li>
            {% endfor %}
    </div>
    <div>
        <button><a href="#">Unduh Series</a></button>
        <button><a href="#">Tambah Favorit</a></button>
    </div>
    <div>
        <p>
            <strong>Total View:</strong> {{ total_view }}<br>
            <strong>Rating Rata Rata :</strong> {{ rating_rata_rata }}<br>
            <strong>Sinopsis Series :</strong> {{ sinopsis }}<br>
        </p>
    </div>
    <div>
        <h4>Genre</h4>
        <ul>
            {% for genres in genre %}
            <li>{{ genres }}</li>
            {% endfor %}
    </div>
    <div>
        <p>
            <strong>Asal Negara:</strong> {{ asal_negara }}<br>
        </p>
    </div>

    <div>
        <h4>Daftar Pemain</h4>
        <ul>
            {% for pemains in pemain %}
            <li>{{ pemains }}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h4>Daftar Penulis Skenario</h4>
        <ul>
            {% for penulis in penulis_skenario %}
            <li>{{ penulis }}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <p>
            <strong>Sutradara:</strong> {{ sutradara }}<br>
        </p>
    </div>

    <button><a href="#">Lihat Ulasan</a></button>
</body>
{% endblock content %}