{% extends "base.html" %}
{% load static %}
{% block content %}
{% block meta %}
<title>Detail Film</title>
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock meta %}
<style>
    .detail_division {
        background-color: #2F338A;
        color: white;
        padding: 30px;
        margin: 30px;
        border-radius: 10px;
    }
    #titles {
        font-size: 30px;
        font-weight: bold;
    }

    .nav_atas {
        display: flex;
        justify-content: space-between;
    }

    .detail_button,.detail_button:focus {
        margin-left: 20px;
        padding: 10px;
        border-radius: 10px;
        text-decoration: none; 
        color: white; 
        background-color: #CC353A; 
        display: inline-block; 
        transition: background-color 0.3s; 
        font-weight: 600;
        box-shadow: none;
        outline: none;
        border:none;
      
    }

    .detail_button:hover {
        background-color: #2F338A ;
    }

    .detail_text {
        text-decoration: none;
        color: white;
    }

    .detail_ulasan {
        border-radius: 10px;
        text-decoration: none; 
        color: white; 
        background-color: #CC353A; 
        display: inline-block; 
        transition: background-color 0.3s; 
        font-weight: 600;
        box-shadow: none;
        outline: none;
        padding: 10px;
        border: none;
    }

    .detail_text:hover {
        color: #CC353A;
    }
</style>

<div class="detail_division">
    <div class="nav_atas">
        <h3>Halaman Film</h3>
        <div>
            <button class="detail_button"><a class="detail_text" href="#"> Watch Film </a></button>
            <button class="detail_button"><a class="detail_text" href="#"> Download Film </a></button>
            <label for="daftar"></daftar>
                <select id="daftar" name="daftar" class="detail_button">
                    <option value="daftar1">Add to Favorite List</option>
                    <option value="daftar2">Favorite list 1</option>
                    <option value="daftar3">Favorite list 2</option>
                </select>
            </label>
        </div>
    </div>
    <div>
        <p id="titles">
            {{ title }}<br>
        </p>
    </div>
    <svg height="2" width="600">
        <line x1="0" y1="0" x2="500" y2="0" style="stroke:#CC353A;stroke-width:2" />
      </svg>
      <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <p>
                        <strong>Total View : </strong> {{ total_view }}<br>
                    </p> 
                </div>
                <div>
                    <p>
                        <strong>Rating Rata Rata : </strong> {{ rating_rata_rata }}<br>
                    </p>
                </div>
                <div>
                    <p>
                        <strong>URL Film : </strong><a href="{{ url_film }}">{{ url_film }}</a> <br>
                    </p>
                </div>
                <div>
                    <p>
                        <strong>Durasi Film : </strong> {{ durasi_film }} menit<br>
                    </p>
                </div>
                <div>
                    <p>
                        <strong>Asal Negara : </strong> {{ asal_negara }}<br>
                    </p>
                </div>
                <div>
                    <h4>Genre</h4>
                    <ul>
                        {% for genres in genre %}
                        <li>{{ genres.genre }}</li>
                        {% endfor %}
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <p><strong>Sinopsis Film :</strong> {{ sinopsis }}<br></p>
                </div>
                <div>
                    <h4>Daftar Pemain</h4>
                    <ul>
                        {% for pemains in pemain %}
                        <li>{{ pemains.nama }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <h4>Daftar Penulis Skenario</h4>
                    <ul>
                        {% for penulis in penulis_skenario %}
                        <li>{{ penulis.nama }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <p>
                        {% for sutradara_tayangan in sutradara %}
                        <h4>Sutradara :</h4> {{ sutradara_tayangan.nama }}<br>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div>
       
    </div>
    
    <button class="w-100 detail_ulasan"><a class="detail_text" href="{% url 'ulasan' id_film %}">Lihat Ulasan</a></button>
</div>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock content %}