{% extends "base.html" %}
{% load static %}
{% block content %}
{% block meta %}
<title>Detail Episode</title>
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock meta %}
<body>
    <h1 class="center-content">Halaman Episode</h1>
    <div>
        <p>
            <strong>Judul Episode:</strong> {{ title }}<br>
            <strong>Sub Judul:</strong> {{ sub_title }}<br>
        </p>
    </div>
    <button><a href="#">Tonton Episode</a></button>

    <div>
        <h4>Daftar Episode Lainnya</h4>
        {% for episode in other_episode %}
        <ul>
            <li>{{ episode }}</li>
        </ul>
        {% endfor %}
    </div>
        <p>
            <strong>Sinopsis Episode :</strong> {{ sinopsis_episode }}<br>
            <strong>Durasi Episode:</strong> {{ durasi_episode }}<br>
            <strong>URL Episode:</strong> {{ url_episode }}<br>
            <strong>Tanggal Rilis:</strong> {{ tanggal_rilis_episode }}<br>
        </p>
    <div>

</body>
{% endblock content %}