
{% extends 'base.html' %}

{% block meta %}
    <title>PACILFLIX - K10</title>
{% endblock meta %}

{% block content %}
<div class="container">
    <div class="content">
        <h1>PACILFLIX - <span>K10</span></h1>
        <p class="subtitle">Discover a world of unlimited entertainment with PacilFlix. Enjoy thousands of movies, TV series, documentaries, and more, all at your fingertips. From blockbuster hits to hidden gems, dive into a captivating streaming experience that knows no bounds.</p>
        {% if request.session.username %}
        {% else %}
        <div class="buttons">
            <a href="{% url 'main:login' %}"class="login-button">Login</a>
            <a href="{% url 'main:register' %}" class="register-button">Create an account</a>
        </div>
        {% endif %}
    </div>
</div>

<style>
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #2F338A, #010845);
    color: #f7f7f7;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.container {
    margin-top: 100px;
    text-align: center;
}

.content {
    padding: 40px;
    border-radius: 8px;
}

h1 {
    text-align: left;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Shadow pada teks */
}

.subtitle {
    text-align: left;
    font-size: 16px;
    font-style: italic;
    color: #f7f7f7;
    max-width: 620px; /* Atur lebar maksimum subtitle */
}

span {
    color: #f7f7f7;
}

.buttons {
    margin-top: 20px;
    display: flex;
    align-items: flex-start; /* Mengatur penempatan tombol ke kiri */
}

.login-button, .register-button {
    text-decoration: none; /* Remove default underline for anchor */
    margin-right: 10px;
    width: 200px;
    padding: 12px 24px;
    margin-bottom: 13px; /* Jarak antara tombol */
    border: none;
    border-radius: 4px;
    background-color: #cc353a;
    color: #f7f7f7;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.login-button:hover, .register-button:hover {
    background-color: #ddd;
    color: #333;
}
</style>
{% endblock content %}